<div id="<%= dom_id todo_list %>">
  <div style=" display: inline-block; ">
    <p>
      <strong>Título:</strong>
      <%= todo_list.title %>
    </p>
    <p>
      <strong>Descrição:</strong>
      <%= todo_list.description %>
    </p>
  </div>
  <div class="trash">
    <%= button_to "Excluir", todo_list_path(todo_list), method: :delete, data: { confirm: "Você realmente deseja excluir essa lista To-do?" } %>
  </div>
</div>
