<div id="<%= dom_id todo_list %>">
  <tr class="table=active">
    <td>
      <%= link_to todo_list.title, todo_list, style: " text-decoration: none; " %>
    </td>
    <td>
      <%= todo_list.description %>
    </td>
  </tr>
</div>
