<h1>Editing todo list</h1>

<%= render "form", todo_list: @todo_list %>

<br>

<div>
  <%= link_to "Vizualizar esta lista To-do", @todo_list %> |
  <%= link_to "Voltar para as listas To-do", todo_lists_path %>
</div>
