<p style="color: green"><%= notice %></p>

<h1>Criar nova lista</h1>

<%= render "form", todo_list: @todo_list %>

<br>

<div>
  <%= link_to "Voltar", todo_lists_path, class: "btn btn-primary" %>
</div>
