<nav class="navbar navbar-dark navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <%= link_to "2doo", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <%= link_to "Início", root_path, class: "nav-link active" %>
      </div>
      <div class="navbar-nav ms-auto mb-2 mb-lg-0">
        <%= link_to "Configurações", root_path, class: "nav-link active" %>
      </div>
    </div>
  </div>
</nav>